section {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}


.element1 {
    font-size: 3em;
    background-color: blue;
}

.element2 {
    font-size: 2em;
    background-color: green;
}



article {
  color: white;
  padding: 10px;
}