* {
    background-color: rgb(49, 49, 49);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white
}

body {
    margin: 25px;
}

.numero {
    list-style: lower-alpha;
}

footer {
    padding: 25px;
    background-color: rgb(20, 20, 20);
    font-weight: bold;
}