h1 {
    color: lightcoral;
    border: 10px solid blue;
    text-align: center;
    background-color: green
}

section {
    font-size: 0.7em;
    text-align: center;
    width: auto;
    height: 250px;
    border: 3px solid gray;
}

.format {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 1.5em;
    background-color: aquamarine;
}