* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: #003300;
  margin: 15px;
  background-color: #99ff99;
}

header {
  background-color: #33cc33;
  padding: 10px;
}

li {
  padding: 0.5px;
}

a {
  color: #003300;
  text-decoration: none;
}

video {
  height: 240px;
}

table {
  border: 4px solid;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid;
  padding: 5px;
}

footer {
  background-color: #003300;
  color: #99ff99;
  padding: 10px;
  font-weight: bold;
}

main{
  height: 250px;
}

aside {
  padding: 10px;
  width: 30%;
  height: 250px;
  float: right;
  background-color: #ccffcc;
}